@import "../../css/global.css";

.privacy-header {
  background-image: url("../../images/shape-pink-kvadrat.svg"),
    url("../../images/header-shape-right.svg");
  background-position: top left, top right;
  padding-top: 30px;
  background-repeat: no-repeat;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.privacy-text {
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-family: "Poppins";
  background-color: #ecf8f9;
  flex: 1;
}

.privacy-heading {
}
.heading-second {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.privacy-header-main {
  font-family: "Poppins";
  line-height: 58px;
  width: 1277px;
  margin-left: auto;
}
